
# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project
.enc/
*.enc
*.log

# SSH Keys (Critical)
ssh/host_keys/
ssh/*.key
ssh/*.pub
id_rsa
id_rsa.pub
