
# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project
.enc/
*.enc
*.log

# SSH Keys (Critical)
ssh/*
!ssh/generate_ssh_key.md
id_rsa
id_rsa.pub
src/enc_server.egg-info/dependency_links.txt
src/enc_server.egg-info/entry_points.txt
src/enc_server.egg-info/PKG-INFO
src/enc_server.egg-info/requires.txt
src/enc_server.egg-info/SOURCES.txt
src/enc_server.egg-info/top_level.txt
config/credentials.json
