services:
  ssh-server:
    image: pranjalab/enc-server:latest
    cap_add:
      - SYS_ADMIN # Required for FUSE
      - MKNOD # Required for creating /dev/fuse
      - CHOWN # Required for user mgmt
      - SETGID # Required for user mgmt
      - SETUID # Required for user mgmt
      - DAC_OVERRIDE # Required for root file access
    devices:
      - /dev/fuse:/dev/fuse
    container_name: enc_ssh_server
    ports:
      - "2222:22"
    environment:
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - ENC_SESSION_TIMEOUT=${ENC_SESSION_TIMEOUT:-600}
    read_only: true
    tmpfs:
      - /tmp
      - /run
    volumes:
      - ./ssh/authorized_keys:/home/admin/.ssh/authorized_keys
      - ./ssh/host_keys:/etc/ssh/ssh_host_keys
      - enc_home:/home
      - enc_etc:/etc
      - enc_root:/root

volumes:
  enc_home:
  enc_etc:
  enc_root:
